{
  "extends": ["eslint:recommended", "plugin:import/recommended", "plugin:promise/recommended", "plugin:mocha/recommended"],
  "plugins": ["import", "promise", "mocha"],
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
